<div class="main-container">
<div class="box-container">
    <div class="box1">
        <div class="cards">
            <div class="icon-1"><i class="fa-solid fa-users"></i></div>
            <div class="title">
                <h5>+100</h5>
                <p>Students</p>
            </div>
        </div>
    </div>
    <div class="box2">
        <div class="cards">
            <div class="icon-2">
                <i class="fa-solid fa-square-poll-vertical icon-large"></i></div>
            <div class="title">
                <h5>6.8</h5>
                <p>Average Mark</p>
            </div>
        </div>
    </div>
    <div class="box3">
        <div class="cards">
            <div class="icon-3"><i class="fa-solid fa-arrow-trend-up"></i></div>
            <div class="title">
                <h5>14%</h5>
                <p>Underperforming students</p>
            </div>
        </div>
    </div>
</div>
<!-- ======================================================================================================================================= -->
<div class="main-dashboard">
    <div class="statistics">
        <div class="title2">
            <h5>Statistic</h5>
            <p>
                < Aug 2021>
            </p>
        </div>
    </div>
    <div class="your-uploads">
        <div class="title2">
            <h5>Your Uploads</h5>
            <p><a href="./teacher-dashboard/home">View All</a></p>
        </div>
    </div>

    </div>
    <div class="second-dashboard">
    <div class="top-students">
        <div class="title2">
            <h5>Top Students</h5>
            <p><a href="./teacher-dashboard/home">View All</a></p>
        </div>
    </div>
    <div class="to-do-list">    
        <div class="title2">
            <h5>To Do List</h5>
            <p><a href="./teacher-dashboard/home">View All</a></p>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Create new task">
        </div>
        <div class="checkbox-list">
            <div class="checkbox-item">
                <input type="checkbox"><p>Review the lesson objectives for the day</p>
            </div>
            <div class="checkbox-item">
                <input type="checkbox"><p>Review and grade any assignments</p>
            </div>
            <div class="checkbox-item">
                <input type="checkbox"><p>Review the lesson objectives for the day</p>
            </div>
        </div>        
    </div>
</div>
</div>