<section class="center">
    <form (ngSubmit)="handleLogin(loginForm)" [formGroup]="loginForm">
        <div class="login-container">
            <div class="image-container">
                <img src="assets/logo.png" alt="Logo">
            </div>
            <div class="login">Login</div>

            <!-- ==================================================Email===================================== -->
            <label for="email" class="mb-2">Email <span class="red-star">*</span></label>
            <input id="email" type="email" placeholder="Enter Your Email" required formControlName="email"
                class="input">
            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                <p *ngIf="loginForm.get('email')?.getError('required')" class="red-error">Email is required.</p>
            </div>
            <p *ngIf="loginForm.get('email')?.getError('pattern')" class="red-error">Invalid Email.</p>

            <!-- ==================================================Password===================================== -->
            <label for="password" class="mb-2">Password <span class="red-star">*</span></label>
            <input id="password" type="password" placeholder="Enter Your Password" required formControlName="password"
                class="input">
            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                <p *ngIf="loginForm.get('password')?.getError('required')" class="red-error">Password is required.</p>
            </div>
            <p *ngIf="loginForm.get('password')?.getError('minlength')" class="red-error">Password must be at least 8
                characters.</p>

            <!-- ==================================================Login===================================== -->
            <button [disabled]="loginForm.invalid" type="submit" class="button">Login</button>
            <p>Don't have an account? <a routerLink="/signup">Register</a></p>
        </div>
    </form>
</section>