.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(115, 115, 115, 0.381);
    width: 550px;
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    width: 80px;
    height: 50px;
}

.login {
    text-align: center;
    color: rgba(0, 102, 255, 0.967);
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2rem;
}

.items {
    display: flex;
    flex-direction: column;
}

.position {
    font-weight: 500;
    margin-bottom: 8px;
    margin-left: 6px;
    margin-top: 5px;
}

.red-star {
    color: red;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.111);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 8px;
    background-color: rgba(0, 119, 255, 0.766);
    color: white;
    font-weight: 600;
    border: none;
}


p {
    text-align: center;

}

a {
    color: rgba(0, 0, 255, 0.67);
    font-weight: bold;
}

.red-error {
    color: red;
    text-align: left;
    margin-left: 0;
}

.green-check {
    color: green;
    text-align: left;
    margin-left: 0;
}

.button-filled {
    background-color: rgba(17, 0, 255, 0.9); 
}

@media (max-width: 550px) {
    .login-container {
        width: 100%;
        padding: 20px;
        box-shadow: none;
        border-radius: 0;
    }

    .button {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}