<section class="center">
  <form (ngSubmit)="handleSignup(signUpForm)" [formGroup]="signUpForm">
    <div class="signup-container">
      <div class="image-container">
        <img src="assets/logo.png" alt="Logo">
      </div>
      <div class="register">Register</div>

      <!-- FirstName -->
      <div class="row">
        <div class="flex">
          <label for="first_name" class="name">First Name <span class="red-star">*</span></label>
          <input type="text" id="first_name" placeholder="Enter Your First Name" formControlName="first_name" required class="input">
          <div *ngIf="signUpForm.get('first_name')?.errors && signUpForm.get('first_name')?.touched">
            <p *ngIf="signUpForm.get('first_name')?.getError('required')" class="red-error">First Name is required.</p>
          </div>
          <p *ngIf="signUpForm.get('first_name')?.getError('pattern')" class="red-error">Names can't have digits.</p>
        </div>

        <!-- LastName -->
        <div class="flex">
          <label for="last_name" class="name">Last Name <span class="red-star">*</span></label>
          <input type="text" id="last_name" placeholder="Enter Your Last Name" formControlName="last_name" required class="input">
          <div *ngIf="signUpForm.get('last_name')?.errors && signUpForm.get('last_name')?.touched">
            <p *ngIf="signUpForm.get('last_name')?.getError('required')" class="red-error">Last Name is required.</p>
          </div>
          <p *ngIf="signUpForm.get('last_name')?.getError('pattern')" class="red-error">Names can't have digits.</p>
        </div>
      </div>

      <!-- Email -->
      <div class="flex-columm">
        <label for="email" class="name">Email <span class="red-star">*</span></label>
        <input id="email" type="email" placeholder="Enter Your Email" required formControlName="email" class="input">
        <div *ngIf="signUpForm.get('email')?.errors && signUpForm.get('email')?.touched">
          <p *ngIf="signUpForm.get('email')?.getError('required')" class="red-error">Email is required.</p>
        </div>
        <p *ngIf="signUpForm.get('email')?.getError('pattern')" class="red-error">Invalid Email.</p>
      </div>

      <!-- Password -->
      <div class="row">
        <div class="flex">
          <label for="password" class="name">Password <span class="red-star">*</span></label>
          <input type="password" id="password" placeholder="Enter Your Password" formControlName="password" required class="input">
          <div *ngIf="signUpForm.get('password')?.errors && signUpForm.get('password')?.touched">
            <p *ngIf="signUpForm.get('password')?.getError('required')" class="red-error">Password is required.</p>
          </div>
          <p *ngIf="signUpForm.get('password')?.getError('minlength')" class="red-error">Password must be at least 8 characters.</p>
        </div>

        <!-- Confirm Password -->
        <div class="flex">
          <label for="password_confirmation" class="name">Confirm Password <span class="red-star">*</span></label>
          <input type="password" id="password_confirmation" placeholder="Confirm Your Password" formControlName="password_confirmation" required class="input">
          <div *ngIf="signUpForm.get('password_confirmation')?.errors && signUpForm.get('password_confirmation')?.touched">
            <p *ngIf="signUpForm.get('password_confirmation')?.getError('required')" class="red-error">Re-Password is required.</p>
          </div>
          <div *ngIf="signUpForm.get('password_confirmation')?.value && signUpForm.get('password')?.value !== signUpForm.get('password_confirmation')?.value" class="red-error">
            Passwords do not match.
          </div>
        </div>
      </div>

      <!-- Phone -->
      <div class="flex-columm">
        <label for="phone" class="name">Phone Number <span class="red-star">*</span></label>
        <input id="phone" type="text" placeholder="Enter Your Phone Number" required formControlName="phone" class="input">
        <div *ngIf="signUpForm.get('phone')?.errors && signUpForm.get('phone')?.touched">
          <p *ngIf="signUpForm.get('phone')?.getError('required')" class="red-error">Phone Number is required.</p>
        </div>
        <p *ngIf="signUpForm.get('phone')?.getError('pattern')" class="red-error">Phone Number must be 11 digits.</p>
      </div>

      <!-- Role -->
      <div class="flex-columm">
        <label for="role" class="your-role">Your Role <span class="red-star">*</span></label>
        <select class="input" id="role" formControlName="role" required>
          <option value="">Select Your Role</option>
          <option value="student">Student</option>
          <option value="teacher">Teacher</option>
        </select>
        <div *ngIf="signUpForm.get('role')?.errors && signUpForm.get('role')?.touched">
          <p *ngIf="signUpForm.get('role')?.getError('required')" class="red-error">Role is required.</p>
        </div>
      </div>

      <button type="submit" class="button" [disabled]="signUpForm.invalid">Register</button>
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
  </form>
</section>
