.center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.signup-container {
    position: relative;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(115, 115, 115, 0.381);
    width: 900px;
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    width: 80px;
    height: 40px;
}

.register {
    text-align: center;
    color: rgba(0, 102, 255, 0.967);
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 2rem;
}

.red-star {
    color: red;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 27rem;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.163);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    margin-top: 10px;
}


.name {
    margin-left: 5px;
    
}

.your-role{
    margin-left: 5px;
    margin-top: 6px;
}

.flex-columm {
    display: flex;
    flex-direction: column;
    width:auto
}

.button {
    display: flex;
    justify-content: center;
    width: 840px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: rgba(0, 119, 255, 0.766);
    color: white;
    font-weight: 500;
    border: 1px;
}


p {
    text-align: center;
}

a{
    color: rgba(0, 0, 255, 0.67);
    font-weight: bold;
}

.red-error {
    color: red;
    text-align: left; 
    margin-left: 5px;   
}

.green-check {
    color: green; 
    text-align: left; 
    margin-left: 5px; 
}

.button-filled {
    background-color: rgba(17, 0, 255, 0.9); 
}


@media (max-width: 850px) {
    .signup-container {
        width: 80%;
        padding: 20px 15px;
        border-radius: 0;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0 4px 10px rgba(115, 115, 115, 0.381);
    }

    .flex, .flex-column {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 0 0 15px 0;
    }

    .button {
        width: 100%;
        margin-top: 10px;
        padding: 12px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .button-filled {
        background-color: rgba(17, 0, 255, 0.9); 
    }
}