.right-sidebar {
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.test {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
}


.user-details p {
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
    width: max-content;
}

.user-details span {
    font-size: 14px;
    color: #888;
}

.settings {
    border: none;
    background: none;
    width: 24px;
    height: 24px;
    color: rgba(5, 106, 255, 1);
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}


.notification {
    width: 24px;
    height: 24px;
    color: rgba(5, 106, 255, 1);
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============================================================================================================================================= */
.my-progress {
    margin-bottom: 20px;
    width: 90%;
}

.progress-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    gap: 30px;
    width: 95%;
}

.calendar {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    padding-right: 31px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 4rem;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #888;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.date {
    padding: 8px;
    border-radius: 8px;
    margin: 2px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.date:hover {
    transform: scale(1.1);
}

.date.blue {
    background-color: #0366d6;
    color: #fff;
}

.date.pink {
    background-color: #f55c94;
    color: #fff;
}

.date.orange {
    background-color: #f39c12;
    color: #fff;
}

/* ============================================================================================================================================= */
.upcoming-activities h3 {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 60px;
    margin-bottom: 30px;
}

.activities {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.bottom-padding {
    padding-bottom: 8px;
    color: #0366d6;
    cursor: pointer;
}

.act1 {
    width: 313px;
    height: max-content;
    border-radius: 20px;
    background: rgba(240, 247, 255, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.act2 {
    width: 313px;
    height: max-content;
    border-radius: 20px;
    background: rgba(255, 240, 247, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.act3 {
    width: 313px;
    height: max-content;
    border-radius: 20px;
    background: rgba(240, 255, 243, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.act4 {
    width: 313px;
    height: max-content;
    border-radius: 20px;
    background: rgba(255, 245, 240, 1);
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.circle-icon.blue {
    background-color: #0366d6;
}

.circle-icon.pink {
    background: rgba(255, 29, 134, 1);
}

.circle-icon.green {
    background: rgba(22, 208, 59, 1);
}

.circle-icon.orange {
    background: rgba(255, 126, 62, 1);
}

.act-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.act-details h5 {
    margin: 0;
    font-weight: bold;
}

.act-details span {
    font-size: 0.9em;
    color: #555;
}

.dot {
    width: 6px;
    height: 6px;
    color: rgba(0, 119, 255, 1);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

.fa-chevron-right {
    color: rgba(0, 119, 255, 1);
    font-size: 1.2em;
    margin-left: 10px;
    align-self: center;
}